<!DOCTYPE html>
<html id="home" lang="en">

    <head>
        <title>WebRTC one-to-many video broadcasting ® Muaz Khan</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="author" content="Muaz Khan">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- <link rel="stylesheet" href="https://www.webrtc-experiment.com/style.css"> -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- custom.css -->
        <link rel="stylesheet" href="stylesheets/layout.css">
        <link rel="stylesheet" href="stylesheets/theme.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.js"></script>

        <script>
            document.createElement('article');
            document.createElement('footer');
        </script>
    </head>

    <body ng-controller="ApplicationCtrl as app">
        <div class='container'>
            <div class="panel panel-default">
              <div class="panel-body">
                <h1>Broadcast Room</h1>
                <hr>
                <div class="row">
                  <div class="col-md-10">
                    <input type="text" id="conference-name" placeholder="Broadcast Name" class='form-control'>
                  </div>
                  <div class="col-md-2">
                    <button id="start-conferencing" ng-click="app.createRoom($event)" class='btn btn-primary'>New Broadcast</button>
                  </div>
                </div>

                <h5>
                  <strong>Private Broadcast</strong> ?? <a href="" target="_blank" title="Open this link in new tab. Then your broadcasting room will be private!"><code><strong id="unique-token">#123456789</strong></code></a>
                </h5>

                <div class="container-fluid">
                  <div class="row">
                    <div id="rooms-list" class="visible col-md-8 well well-sm">
                      <div class='row' ng-repeat="room in app.rooms">
                        <div class="col-md-10">
                          <h4>{{room.roomName}}</h4>
                        </div>
                        <div class="col-md-2">
                          <button class="join btn btn-default" ng-click='app.joinRoom(room)' id="{{room.roomToken}}">Join Room</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container-fluid">
                  <div class="row">
                    <div class='col-md-8'>
                      <h5>Participantes</h5>
                      <ul>
                        <li ng-repeat="candidate in app.candidates">
                          <a ng-click='app.getCandidate(candidate)'>{{candidate.stream.id}}</a>
                        </li>
                      </ul>
                      <div id="participants"></div>
                    </div>
                    <div class='col-md-4'>
                      <h5>Chat</h5>
                    </div>
                  </div>
                </div>

                <script src="https://www.webrtc-experiment.com/firebase.js"> </script>
                <script src="https://www.webrtc-experiment.com/RTCPeerConnection-v1.5.js"> </script>
                <script src="broadcast.js"> </script>
                <script src="broadcast-ui.js"> </script>
              </div>
            </div>
        </div>

        <!-- commits.js is useless for you! -->
        <!-- <script src="https://www.webrtc-experiment.com/commits.js" async> </script> -->
        <script src="app/app.js"></script>
        <script src="app/application.ctrl.js"></script>
    </body>
</html>
